.btn {
  display: inline-block;
  padding: 1.3rem 3rem;
  background-color: #297beb;
  border: 1px solid $white;
  border-radius: 5.6rem;
  position: relative;
  top: 0;
  cursor: pointer;
  &:active {
    top: .2rem;
  }
}